
body {
    background-color: #393E46;
}

.container {
  text-align: center;
}

.dice {
  display: inline-block;
  padding: 0 1.5rem 3.5rem 1.5rem;
}

h1 {
  font-size: 6.5rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  margin: 3rem auto 2rem auto;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
}



img {
  width: 13rem;
  height: 13rem;
}

footer {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}
